* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: black;
}

.container {
    width: 100%;

    margin: 0 auto;
}

header {
    background: #F3D7B7;
    padding: 22px 50px 130px 50px;
    height: 800px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 130px 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #333333;
}

nav ul li:hover {
    color: #0A775F;
    cursor: pointer;
    border-bottom: 1px solid #0A775F;
    transform: scale(1.2);
}

header{
    height: 720px;
}

.hero{
    width: 372px;
}

.hero h1{
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 64px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;

}

.hero p{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
margin-top: 75px;
}

section{
    display: flex;
}

.hero_img img:last-child{
   display: flex;
   justify-content: end;
}

.relative{
    position: relative;
    
}

.absoulute{
    position: absolute;
  right: 600px;
    top: 100px;
}

.hero_img:hover .absoulute{
    transform: rotate(360deg);
    transition: 2s;
}

section{
    display: flex;
    justify-content: space-between
}

main{
    height: 740px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 55px 0 55px;
}

.main_text{
    width: 646px;
}

.main_text p{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0px;
margin-top: 64px;
}

.main_text h1{
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 48px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
font-variant: small-caps;

}

.main_img{
    width: 375px;
}

.main_img img{
transform: rotate(330deg);
transition: 3s;
}

.box{
    background: #C99B67;
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 0 55px 0 55px;
} 

.box_text {
    width: 639px;
}

.box_text h1{
    font-family: Roboto;
font-weight: 700;
font-style: Bold;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0px;
font-variant: small-caps;
 color: white;
 margin-bottom: 30px;
}

.box_text p{
    font-family: Roboto;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 30px;
letter-spacing: 0px;
color: white;
}

.box_img img{
    position: absolute;
    top: 1300px;
    display: flex;
    justify-content: end;
}

footer {
    background: #F3D7B7;
    padding: 65px 30px 65px 30px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



footer .container ul {
    display: flex;
    gap: 40px;
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

footer .container div {
    display: flex;
    gap: 30px;
}


footer ul li:hover{
color: #0A775F;
border-bottom: 1px solid #0A775F;
transform: scale(1.2);
}